{
  "openapi": "3.1.0",
  "info": {
    "title": "Digital Identity Service API",
    "version": "1.67.0"
  },
  "servers": [
    {
      "url": "https://dot.innovatrics.com/identity",
      "description": "Digital Identity Service URL"
    }
  ],
  "paths": {
    "/api/v1/info": {
      "get": {
        "tags": [
          "Actuator"
        ],
        "summary": "Get application info",
        "operationId": "info",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/ActuatorInfo"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/health": {
      "get": {
        "tags": [
          "Actuator"
        ],
        "summary": "Get application health",
        "operationId": "health",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/ActuatorHealth"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/customers/{id}/trust-evaluation/evaluate": {
      "put": {
        "tags": [
          "Trust Evaluator"
        ],
        "summary": "Evaluate trust factors based on submitted Trust Factor definitions with provided thresholds",
        "operationId": "evaluateTrustFactors",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrustEvaluationRequest",
                "additionalProperties": {
                  "default": ""
                },
                "default": ""
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrustEvaluationResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "400": {
            "description": "Bad request\n\nPossible error codes:\n - INVALID_ID\n - INVALID_REQUEST_BODY",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "404": {
            "description": "Not found\n\nPossible error codes:\n - NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "409": {
            "description": "Conflict\n\nPossible error codes:\n - CONFLICT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error\n\nPossible error codes:\n - UNEXPECTED_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          }
        },
        "security": [
          {
            "api": []
          }
        ]
      }
    },
    "/api/v1/customers/{id}/selfie": {
      "get": {
        "tags": [
          "Customer onboarding"
        ],
        "summary": "Get customer\u0027s selfie image",
        "operationId": "getSelfieImage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageCrop",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "400": {
            "description": "Bad request\n\nPossible error codes:\n - INVALID_ID\n - INVALID_REQUEST_PARAMETER",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "404": {
            "description": "Not found\n\nPossible error codes:\n - NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error\n\nPossible error codes:\n - UNEXPECTED_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          }
        },
        "security": [
          {
            "api": []
          }
        ]
      },
      "put": {
        "tags": [
          "Customer onboarding"
        ],
        "summary": "Provide customer\u0027s selfie",
        "operationId": "createSelfie",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSelfieRequest",
                "additionalProperties": {
                  "default": ""
                },
                "default": ""
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary",
                "additionalProperties": {
                  "default": ""
                },
                "default": "",
                "description": "The binary file"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSelfieResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "400": {
            "description": "Bad request\n\nPossible error codes:\n - INVALID_ID\n - INVALID_REQUEST_BODY\n - INVALID_IMAGE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "404": {
            "description": "Not found\n\nPossible error codes:\n - NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "409": {
            "description": "Conflict\n\nPossible error codes:\n - CONFLICT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error\n\nPossible error codes:\n - UNEXPECTED_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          }
        },
        "security": [
          {
            "api": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Customer onboarding"
        ],
        "summary": "Delete customer\u0027s selfie",
        "operationId": "deleteSelfie",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad request\n\nPossible error codes:\n - INVALID_ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error\n\nPossible error codes:\n - UNEXPECTED_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "api": []
          }
        ]
      }
    },
    "/api/v1/customers/{id}/selfie/binary": {
      "put": {
        "tags": [
          "Customer onboarding"
        ],
        "summary": "Provide customer\u0027s selfie using request with octet-stream content type.",
        "operationId": "createSelfieBinary",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary",
                "additionalProperties": {
                  "default": ""
                },
                "default": "",
                "description": "The binary file"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSelfieResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "400": {
            "description": "Bad request\n\nPossible error codes:\n - INVALID_ID\n - INVALID_REQUEST_BODY\n - INVALID_IMAGE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "404": {
            "description": "Not found\n\nPossible error codes:\n - NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "409": {
            "description": "Conflict\n\nPossible error codes:\n - CONFLICT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error\n\nPossible error codes:\n - UNEXPECTED_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          }
        },
        "security": [
          {
            "api": []
          }
        ]
      }
    },
    "/api/v1/customers/{id}/liveness": {
      "put": {
        "tags": [
          "Customer onboarding"
        ],
        "summary": "Create customer\u0027s liveness",
        "operationId": "createLiveness",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerLivenessResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "400": {
            "description": "Bad request\n\nPossible error codes:\n - INVALID_ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "404": {
            "description": "Not found\n\nPossible error codes:\n - NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "409": {
            "description": "Conflict\n\nPossible error codes:\n - CONFLICT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error\n\nPossible error codes:\n - UNEXPECTED_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          }
        },
        "security": [
          {
            "api": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Customer onboarding"
        ],
        "summary": "Delete customer\u0027s liveness",
        "operationId": "deleteLiveness",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad request\n\nPossible error codes:\n - INVALID_ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error\n\nPossible error codes:\n - UNEXPECTED_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "api": []
          }
        ]
      }
    },
    "/api/v1/customers/{id}/liveness/records/challenge": {
      "put": {
        "tags": [
          "Customer onboarding"
        ],
        "summary": "Create customer\u0027s liveness record challenge",
        "operationId": "createLivenessRecordChallenge",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LivenessChallengeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LivenessChallengeResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "400": {
            "description": "Bad request\n\nPossible error codes:\n - INVALID_ID\n - INVALID_REQUEST_BODY",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "404": {
            "description": "Not found\n\nPossible error codes:\n - NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "409": {
            "description": "Conflict\n\nPossible error codes:\n - CONFLICT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error\n\nPossible error codes:\n - UNEXPECTED_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          }
        },
        "security": [
          {
            "api": []
          }
        ]
      }
    },
    "/api/v1/customers/{id}/document": {
      "put": {
        "tags": [
          "Customer onboarding"
        ],
        "summary": "Create customer\u0027s document",
        "operationId": "createDocument",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDocumentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDocumentResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "400": {
            "description": "Bad request\n\nPossible error codes:\n - INVALID_ID\n - INVALID_REQUEST_BODY",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "404": {
            "description": "Not found\n\nPossible error codes:\n - NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "409": {
            "description": "Conflict\n\nPossible error codes:\n - CONFLICT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error\n\nPossible error codes:\n - UNEXPECTED_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          }
        },
        "security": [
          {
            "api": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Customer onboarding"
        ],
        "summary": "Delete customer\u0027s document",
        "operationId": "deleteDocument",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad request\n\nPossible error codes:\n - INVALID_ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error\n\nPossible error codes:\n - UNEXPECTED_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "api": []
          }
        ]
      }
    },
    "/api/v1/customers/{id}/document/pages": {
      "put": {
        "tags": [
          "Customer onboarding"
        ],
        "summary": "Provide customer\u0027s document page",
        "operationId": "createDocumentPage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDocumentPageRequest",
                "additionalProperties": {
                  "default": ""
                },
                "default": ""
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary",
                "additionalProperties": {
                  "default": ""
                },
                "default": "",
                "description": "The binary file"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDocumentPageResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "400": {
            "description": "Bad request\n\nPossible error codes:\n - INVALID_ID\n - INVALID_REQUEST_BODY\n - INVALID_IMAGE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "404": {
            "description": "Not found\n\nPossible error codes:\n - NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "409": {
            "description": "Conflict\n\nPossible error codes:\n - CONFLICT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error\n\nPossible error codes:\n - UNEXPECTED_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          }
        },
        "security": [
          {
            "api": []
          }
        ]
      }
    },
    "/api/v1/customers/{id}/document/pages/binary": {
      "put": {
        "tags": [
          "Customer onboarding"
        ],
        "summary": "Provide customer\u0027s document page  using request with octet-stream content type.",
        "operationId": "createDocumentPageBinary",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary",
                "additionalProperties": {
                  "default": ""
                },
                "default": "",
                "description": "The binary file"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDocumentPageResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "400": {
            "description": "Bad request\n\nPossible error codes:\n - INVALID_ID\n - INVALID_REQUEST_BODY\n - INVALID_IMAGE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "404": {
            "description": "Not found\n\nPossible error codes:\n - NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "409": {
            "description": "Conflict\n\nPossible error codes:\n - CONFLICT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error\n\nPossible error codes:\n - UNEXPECTED_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          }
        },
        "security": [
          {
            "api": []
          }
        ]
      }
    },
    "/api/v1/customers/{id}/document/chip/data": {
      "get": {
        "tags": [
          "Customer onboarding"
        ],
        "summary": "Get customer\u0027s document chip raw data",
        "operationId": "getDocumentChipData",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDocumentChipDataResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "400": {
            "description": "Bad request\n\nPossible error codes:\n - INVALID_ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "404": {
            "description": "Not found\n\nPossible error codes:\n - NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error\n\nPossible error codes:\n - UNEXPECTED_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          }
        },
        "security": [
          {
            "api": []
          }
        ]
      },
      "put": {
        "tags": [
          "Customer onboarding"
        ],
        "summary": "Create customer\u0027s document chip data",
        "operationId": "createDocumentChipData",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary",
                "additionalProperties": {
                  "default": ""
                },
                "default": "",
                "description": "The binary file"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDocumentChipDataResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "400": {
            "description": "Bad request\n\nPossible error codes:\n - INVALID_ID\n - INVALID_REQUEST_BODY",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "404": {
            "description": "Not found\n\nPossible error codes:\n - NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "409": {
            "description": "Conflict\n\nPossible error codes:\n - CONFLICT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error\n\nPossible error codes:\n - UNEXPECTED_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          }
        },
        "security": [
          {
            "api": []
          }
        ]
      }
    },
    "/api/v1/customers/{id}/document/chip/challenge": {
      "put": {
        "tags": [
          "Customer onboarding"
        ],
        "summary": "Create customer\u0027s challenge for document chip",
        "operationId": "createDocumentChipChallenge",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDocumentChipResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          }
        },
        "security": [
          {
            "api": []
          }
        ]
      }
    },
    "/api/v1/sessions": {
      "post": {
        "tags": [
          "Session management"
        ],
        "summary": "Create a session",
        "operationId": "createSession",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSessionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSessionResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error\n\nPossible error codes:\n - UNEXPECTED_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "400": {
            "description": "Bad request\n\nPossible error codes:\n - INVALID_REQUEST_BODY",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          }
        },
        "security": [
          {
            "api": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Session management"
        ],
        "summary": "Close the session",
        "operationId": "deleteSession",
        "parameters": [
          {
            "name": "x-inn-session-token",
            "in": "header",
            "description": "Session token as Base64 text",
            "required": true,
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error\n\nPossible error codes:\n - UNEXPECTED_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "api": []
          }
        ]
      }
    },
    "/api/v1/palms": {
      "post": {
        "tags": [
          "Palm operations"
        ],
        "summary": "Create a palm from the photo",
        "operationId": "createPalm",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePalmRequest",
                "additionalProperties": {
                  "default": ""
                },
                "default": ""
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary",
                "additionalProperties": {
                  "default": ""
                },
                "default": "",
                "description": "The binary file"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePalmResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "400": {
            "description": "Bad request\n\nPossible error codes:\n - INVALID_ID\n - INVALID_REQUEST_BODY\n - INVALID_IMAGE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "404": {
            "description": "Not found\n\nPossible error codes:\n - NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error\n\nPossible error codes:\n - UNEXPECTED_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          }
        },
        "security": [
          {
            "api": []
          }
        ]
      }
    },
    "/api/v1/palms/{probe_palm_id}/similarity": {
      "post": {
        "tags": [
          "Palm operations"
        ],
        "summary": "Match the probe palm to the reference palm",
        "operationId": "checkPalmSimilarity",
        "parameters": [
          {
            "name": "probe_palm_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request to compare the similarity of a palm against a reference palm. You must provide either `referencePalm` or `referencePalmTemplate`. If both or neither are provided, a 400 Bad Request error is returned.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PalmSimilarityRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PalmSimilarityResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "400": {
            "description": "Bad request\n\nPossible error codes:\n - INVALID_ID\n - INVALID_REQUEST_BODY",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "404": {
            "description": "Not found\n\nPossible error codes:\n - NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error\n\nPossible error codes:\n - UNEXPECTED_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          }
        },
        "security": [
          {
            "api": []
          }
        ]
      }
    },
    "/api/v1/palms/{id}/inspect": {
      "post": {
        "tags": [
          "Palm operations"
        ],
        "summary": "Inspect palm",
        "operationId": "inspectPalm",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PalmInspectResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "400": {
            "description": "Bad request\n\nPossible error codes:\n - INVALID_ID\n - INVALID_REQUEST_BODY",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "404": {
            "description": "Not found\n\nPossible error codes:\n - NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error\n\nPossible error codes:\n - UNEXPECTED_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          }
        },
        "security": [
          {
            "api": []
          }
        ]
      }
    },
    "/api/v1/palms/binary": {
      "post": {
        "tags": [
          "Palm operations"
        ],
        "summary": "Create a palm from the photo using request with octet-stream content type.",
        "operationId": "createPalmBinary",
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary",
                "additionalProperties": {
                  "default": ""
                },
                "default": "",
                "description": "The binary file"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePalmResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "400": {
            "description": "Bad request\n\nPossible error codes:\n - INVALID_ID\n - INVALID_REQUEST_BODY\n - INVALID_IMAGE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "404": {
            "description": "Not found\n\nPossible error codes:\n - NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error\n\nPossible error codes:\n - UNEXPECTED_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          }
        },
        "security": [
          {
            "api": []
          }
        ]
      }
    },
    "/api/v1/faces": {
      "post": {
        "tags": [
          "Face operations"
        ],
        "summary": "Create a face from the photo (face detection)",
        "operationId": "detectFace",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFaceRequest",
                "additionalProperties": {
                  "default": ""
                },
                "default": ""
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary",
                "additionalProperties": {
                  "default": ""
                },
                "default": "",
                "description": "The binary file"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFaceResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "400": {
            "description": "Bad request\n\nPossible error codes:\n - INVALID_REQUEST_BODY\n - INVALID_IMAGE\n - FACE_SIZE_MEMORY_LIMIT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "404": {
            "description": "Not found\n\nPossible error codes:\n - NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error\n\nPossible error codes:\n - UNEXPECTED_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          }
        },
        "security": [
          {
            "api": []
          }
        ]
      }
    },
    "/api/v1/faces/{probe_face_id}/similarity": {
      "post": {
        "tags": [
          "Face operations"
        ],
        "summary": "Match the probe face to the reference face",
        "operationId": "checkSimilarity",
        "parameters": [
          {
            "name": "probe_face_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request to compare the similarity of a face against a reference face. You must provide either `referenceFace` or `referenceFaceTemplate`. If both or neither are provided, a 400 Bad Request error is returned.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FaceSimilarityRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FaceSimilarityResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "400": {
            "description": "Bad request\n\nPossible error codes:\n - INVALID_REQUEST_BODY\n - INVALID_IMAGE\n - UNSUPPORTED_VERSION_TEMPLATE\n - CORRUPTED_TEMPLATE\n - INCOMPATIBLE_TEMPLATE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "404": {
            "description": "Not found\n\nPossible error codes:\n - NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error\n\nPossible error codes:\n - UNEXPECTED_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          }
        },
        "security": [
          {
            "api": []
          }
        ]
      }
    },
    "/api/v1/faces/binary": {
      "post": {
        "tags": [
          "Face operations"
        ],
        "summary": "Create a face from the photo (face detection) using request with octet-stream content type.",
        "operationId": "detectFaceBinary",
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary",
                "additionalProperties": {
                  "default": ""
                },
                "default": "",
                "description": "The binary file"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFaceResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "400": {
            "description": "Bad request\n\nPossible error codes:\n - INVALID_REQUEST_BODY\n - INVALID_IMAGE\n - FACE_SIZE_MEMORY_LIMIT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "404": {
            "description": "Not found\n\nPossible error codes:\n - NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error\n\nPossible error codes:\n - UNEXPECTED_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          }
        },
        "security": [
          {
            "api": []
          }
        ]
      }
    },
    "/api/v1/customers": {
      "post": {
        "tags": [
          "Customer onboarding"
        ],
        "summary": "Create a customer",
        "operationId": "createCustomer",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error\n\nPossible error codes:\n - UNEXPECTED_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          }
        },
        "security": [
          {
            "api": []
          }
        ]
      }
    },
    "/api/v1/customers/{id}": {
      "get": {
        "tags": [
          "Customer onboarding"
        ],
        "summary": "Get the customer",
        "operationId": "getCustomer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "400": {
            "description": "Bad request\n\nPossible error codes:\n - INVALID_ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "404": {
            "description": "Not found\n\nPossible error codes:\n - NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error\n\nPossible error codes:\n - UNEXPECTED_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          }
        },
        "security": [
          {
            "api": []
          }
        ]
      },
      "post": {
        "tags": [
          "Customer onboarding"
        ],
        "summary": "Create a customer with a custom UUIDv4",
        "operationId": "createCustomerWithUuid",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "400": {
            "description": "Bad request\n\nPossible error codes:\n - INVALID_ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error\n\nPossible error codes:\n - UNEXPECTED_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable request\n\nPossible error codes:\n - ALREADY_EXISTS",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          }
        },
        "security": [
          {
            "api": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Customer onboarding"
        ],
        "summary": "Delete the customer",
        "operationId": "deleteCustomer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad request\n\nPossible error codes:\n - INVALID_ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error\n\nPossible error codes:\n - UNEXPECTED_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "api": []
          }
        ]
      }
    },
    "/api/v1/customers/{id}/store": {
      "post": {
        "tags": [
          "Trust Platform"
        ],
        "summary": "Store customer in the Trust Platform",
        "operationId": "storeInTrustPlatform",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerStoreRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad request\n\nPossible error codes:\n - INVALID_ID\n - INVALID_REQUEST_BODY",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "404": {
            "description": "Not found\n\nPossible error codes:\n - NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "409": {
            "description": "Conflict\n\nPossible error codes:\n - CONFLICT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error\n\nPossible error codes:\n - UNEXPECTED_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "api": []
          }
        ]
      }
    },
    "/api/v1/customers/{id}/liveness/selfies": {
      "post": {
        "tags": [
          "Customer onboarding"
        ],
        "summary": "Provide customer\u0027s liveness selfie",
        "operationId": "createLivenessSelfie",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerLivenessSelfieRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerLivenessSelfieResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "400": {
            "description": "Bad request\n\nPossible error codes:\n - INVALID_ID\n - INVALID_REQUEST_BODY\n - INVALID_IMAGE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "404": {
            "description": "Not found\n\nPossible error codes:\n - NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "409": {
            "description": "Conflict\n\nPossible error codes:\n - CONFLICT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error\n\nPossible error codes:\n - UNEXPECTED_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          }
        },
        "security": [
          {
            "api": []
          }
        ]
      }
    },
    "/api/v1/customers/{id}/liveness/selfies/retrieve": {
      "post": {
        "tags": [
          "Customer onboarding"
        ],
        "summary": "Retrieves customer\u0027s liveness selfies and liveness record selfies of given LivenessType",
        "operationId": "retrieveLivenessSelfiesAndRecords",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RetrieveLivenessSelfiesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrieveLivenessSelfiesResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "400": {
            "description": "Bad request\n\nPossible error codes:\n - INVALID_ID\n - INVALID_REQUEST_BODY",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
                  },
                  "default": ""
                }
              }
            }
          },
          "404": {
            "description": "Not found\n\nPossible error codes:\n - NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse",
                  "additionalProperties": {
                    "default": ""
[...]
